/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// MAIN /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* ----------------------------------------------------------------------- MAIN --- */
/* main content area */

main {
    z-index: 1;
    padding-top: 220px;
    height: auto;
    flex-grow: 1;
}
@media (max-width: $breakpoint_4) {
    main {
        padding-top: 92px;
    }
}

/* ---------------------------------------------------------------------- TITLE --- */
/*  */

main > .title {
    padding: 50px 0 30px;
}
h1 {
    margin-bottom: 80px;
}
main > .title h1 {
    margin-bottom: 20px;
}
body.page_index h1 { 
    font-size: 32px;
    line-height: 1.2em;
    text-transform: none; 
}
@media (max-width: $breakpoint_4) {
    h1 {
        margin-bottom: 32px;
    }
}
 
